/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* author's styles */
body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 50vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

ul {
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 25vw;
}

li {
  list-style: none;
}

li > a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-weight: 800;
}

li > a:hover {
  text-decoration: underline;
  text-decoration-color: darkgoldenrod;
  text-decoration-thickness: 2px;
}

header {
  margin: 16px 0px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 30%;
}

.form-header {
  font-weight: 800;
}

input,
textarea {
  padding: 8px;
}

button {
  background-color: goldenrod;
  font-weight: 600;
  padding: 4px 8px;
  width: 70px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

main {
  flex: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

footer {
  text-align: center;
  font-weight: 800;
  margin: 8px 0px;
}
